@using miniOdev.Languages
@using Microsoft.Extensions.Localization


@inject IStringLocalizer<Lang> _stringLocalizer;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/miniOdev.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css"/>
    <link rel="stylesheet" href="~/css/Loader.css" asp-append-version="true" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="myBody">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/logo.jpg" height="25" width="100%" alt="" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@_stringLocalizer["page.Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="VeriGirisi">@_stringLocalizer["page.DataInput"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ListeyiGor">@_stringLocalizer["page.SeeList"]</a>
                        </li>
                         @{
                            if (!Context.User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">@_stringLocalizer["page.Login"]</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">@_stringLocalizer["page.Register"]</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="JobPage">@_stringLocalizer["page.Timer"]</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">@_stringLocalizer["page.SingOut"]</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div id="languagePicker" class="dropdown" style="margin-right:50px;">
                  <a class="btn btn-outline-primary dropdown-toggle select-language" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="select-language-img"  /><span></span>
                  </a>

                  <ul class="dropdown-menu">
                    <li class="en-US"><a class="dropdown-item" id="en-US" onclick="setLanguage(this)" href="javascript:void(0)"><span>@_stringLocalizer["page.English"]</span></a></li>
                    <li class="fr-FR"><a class="dropdown-item" id="fr-FR" onclick="setLanguage(this)" href="javascript:void(0)"><span>@_stringLocalizer["page.French"]</span></a></li>
                    <li class="tr-TR"><a class="dropdown-item" id="tr-TR" onclick="setLanguage(this)" href="javascript:void(0)"><span>@_stringLocalizer["page.Turkish"]</span></a></li>
                  </ul>
                </div>  
            </div>                                 
        </nav>
    </header>
    <div class="container" @*style="height:100%;"*@>
        <main role="main" class="pb-3" @*style="height:100%;"*@>         
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="flex-direction:row; justify-content:space-around; display:flex;">
            <div>&copy; 2022 - miniOdev</div> <div><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/logo.jpg" height="25" width="100%" alt="" /></a></div>
        </div>
    </footer>
 @*   <script src="~/lib/jquery/dist/jquery.min.js"></script>*@
 <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
function setLanguage(e) {

    window.location.href = window.location.origin + window.location.pathname + '?culture=' + e.id;
}

    var cerez = getCookie(".AspNetCore.Culture");
    if (cerez != "") {
      let languagePicker = document.querySelector('#languagePicker');
       
      let languagePickerDropdown = languagePicker.children[1].children;

      

      Array.prototype.forEach.call(languagePickerDropdown, child => {

          if (child.className === cerez.split('|')[1].split('=')[1]) {
              languagePicker.firstElementChild.children[1].textContent=' '+child.firstElementChild.innerText
              if(child.firstElementChild.id === "en-US")
                document.getElementById("select-language-img").src = "https://img.icons8.com/color/23/null/great-britain.png";
               if(child.firstElementChild.id === "fr-FR")
                document.getElementById("select-language-img").src = "https://img.icons8.com/color/23/null/france.png";
               if(child.firstElementChild.id === "tr-TR")
                document.getElementById("select-language-img").src = "https://img.icons8.com/color/23/null/turkey.png";
              
                
                child.firstElementChild.classList.add('active');
          }
      })
  } 


  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }


     

    </script>
    
</body>
</html>
